.DashBoard__Campaigns{
    margin-bottom:5em;
    border-radius: 3px;
    display:flex;
    padding:5em;
}





.Files_Wrapper{
    display:flex;
    flex-direction:row;
    justify-content: center;
    height:auto;
    padding:1em;
    flex-wrap:wrap;
}



@media (max-width:500px){
    
    .Files_Wrapper{
        display:flex;
        justify-content: center;
        flex-direction: column;
        margin-top:6rem;
    }
}