.Radio__wrapper{

    /* background:    linear-gradient(
    rgba(0, 0, 0, 0.25), 
    rgba(0, 0, 0, 0.25)
  ),url('../../../Assets/NOZ_form_img.png'); */
    background-size:cover;
    background-position: center;
    display:block;
    margin: 0 auto;
}

.Radio__form--submission{
    /* display:flex;
    justify-content: center; */
    margin:1rem;
    border-radius:.2rem;
    padding: .5rem 1rem;
}

.Radio__userInputs{
    border-radius:4px;
}

