
.Question__wrapper{
    display:flex;
    justify-content: center;
    flex-direction:column;
}

.Question__header{
    display:block;
    margin-bottom:.3rem;
    font-family: 'teutonicregular';
    font-size:.8rem;
}

.Question__header--question{
    /* border-right: .02em solid black;/* The typwriter cursor */
    /* animation: typing 1.4s steps(25, end),blinking-cursor 2.5s step-end infinite; */
    /* overflow: hidden; Ensures the content is not revealed until the animation */
    /* white-space: normal; Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .008em; /* Adjust as needed */
}


