.File_Wrapper{
    display:flex;
    flex-direction:column; 
    border-radius:3px;
    transition:all .2s;
    margin:1em;
    cursor: pointer;
    
}

.File_Content{
    border-radius:0 0 3px 3px;
    padding:1em;
    line-height:2em;
    min-height:80px;
}

.DashBoard-File{
    padding: 5em;
    border-radius:3px;
}