
.backdrop{
    position:fixed;
    height:100%;
    width:100%;
    /* background: url('../../Assets/staticScreen.gif'); */
    background: url('https://arkham-horror-logger.s3.us-east-2.amazonaws.com/static/media/staticScreen.6a0e713e.gif');
    z-index:100;
    top:0;
    left:0;
    opacity:.85;
}

.backdrop-overlay{
    position:absolute;
    background:rgba(0,0,0,.85);
    z-index:101;
    height:100%;
    width:100%;
}