.Radio__wrapper{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:1rem 1rem;
}

.Radio__form--choices{
    display:flex;
    justify-content: space-evenly;
    align-items: baseline
}

.Radio__form--choices:nth-child(1){
    margin:.5rem;
    display:flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.Radio__form--submission{
    display:flex;
    justify-content: center;
}

.Radio__userInputs{
    padding:.5rem;
}